.dashboard-wrapper {
  padding: 2rem;
  background: #f4f4f9;
  min-height: 100vh;
}

.dashboard-header h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
  align-items: center;
}

.filter-bar select,
.filter-bar input {
  padding: 0.6rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.clear-btn,
.new-field-btn {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.clear-btn {
  background: #ddd;
}

.new-field-btn {
  background: #3d4cfc;
  color: white;
}

.field-table-section h3 {
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

th,
td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #f9f9f9;
  color: #333;
}

.positive {
  color: green;
  font-weight: bold;
}

.negative {
  color: red;
  font-weight: bold;
}

.upcoming-section {
  margin-top: 3rem;
  font-style: italic;
  color: #555;
  text-align: center;
}


.chart-container {
  background: white;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.map-section {
  background: white;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
